// Place all the styles related to the Solds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*__________ modal body _________*/

div .form-modal {
	padding-left: 10px;
}

/* ________modal button_______ */

div#btn-modal {
	float: right;
	padding-top: 10px;

}


.modal-footer { 
	justify-content: unset !important;
}


/*________- btn -________*/

button .search-btn {
	width: 5px;
}
